$text-primary: #05203E;
$text-secondary:#05203ee0;

$text-accent1:#7BB745;
$text-accent2:#FAC017;
$text-accent3:#FF76A7;
$text-accent4:#0296E5;

$text-button: #FFFFFF;

$bg-grey: #D6DADE;
$bg-white: #FFFFFF;
$bg-primary: linear-gradient(131deg, #84C24C 0%, #6BAA32 100%);
$bg-primaryHover: linear-gradient(131deg, #6FAE36 0%, #4D8917 100%);
$bg-2: #F9F5E7;
$bg-error: #ED0A34;


$transition:all .4s;
$border-radius: 32px;


$line-hieght-title: 1.08;
$line-hieght-paragraph: 1.33;

$fz-title:  52px;
$fz-main:  18px;